body {
    background-color:rgb(83, 1, 119);
}

.opening {
    background-color:darkmagenta;
}


h1 {
    text-align: center;
}

.Gamingimage1 {
    width: 100%;
    
}

.getstarted {
    position:absolute;
    top: 27%;
    left: 39%;
    font-size:xx-large;
    color: aliceblue;
}

.gamingstartcontainer {
    width: 70%;
    margin: auto;
    position: relative;
}

.p {
    text-decoration: none;
    position: absolute;
    bottom: 21%;
    left: 17%;
    color: aliceblue;
}

.aboutus {
    text-align: center;
    display: block;
    font-size: larger;
    color:aliceblue
}

.find {
    position:absolute;
    top: 500%;
    left: 30%;
    width:40%;
    display: block;
    color: white;
}

